.dashboard-container{
  width: 100%;               
  min-height: calc(80vh - 60px);  /* Subtract the navbar height (60px) from the viewport height */        
  background-color: blue;  
  box-sizing: border-box;

}

