@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.login-container{
    font-family: 'Poppins', sans-serif; /* Set the font for the container */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 80vh; /* Full height of viewport */
    width: 100vw; /* Full width of viewport *//* Optional */
    -webkit-font-smoothing: antialiased; /* For smooth fonts */
    -moz-osx-font-smoothing: grayscale; 
    margin-top: 7vh;
}

.login-container code{
    font-family: source-code-pro, Menlo, Monaco, Consoleas, 'Courier New',
    monospace;
}

.login-wrapper {
    display: flex; /* Add this */
    flex-direction: column;
    width: 420px;
    background: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid #1e272e;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(224, 217, 217, 0.5);

}
.login-wrapper .input-box {
    height: 50px;
    width: 100%;
    position: relative;
    margin: 20px 0;
}

.login-wrapper .input-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 40px;
    font-size: 16px;
    background: transparent;
    color: black;
    border:  2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
}
.login-wrapper .input-box input::placeholder {
    color: #ffffff;
}
.login-wrapper .remember_forgotpw {
    display: flex;
    margin: -15px 0 15px;
    justify-content: space-between;
    font-size: 14.5px;
}
.login-wrapper .remember_forgotpw label input {
    margin-right: 5px;
    accent-color: #fff;
    color: #fff;
}
.login-wrapper .remember_forgotpw a {
    color: white;
    text-decoration: none;
}
.remember_forgotpw a:hover {
    color: white;
    text-decoration: underline;
}
.login-wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.login-wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin : 20px 0 15px;
}
.login-wrapper .register-link p{
    color: white;
    text-decoration: none;
}
.login-wrapper .register-link a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    
}
.login-wrapper .register-link a:hover {
    text-decoration: underline;
    font-weight: 600;
}
.login-wrapper .error-message{
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}