@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:-'Poppins', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("C:\Users\alpha\OneDrive\Desktop\viridian_workshops\img\Login\927588-abstract-3D-Abstract-blue-dark-text-digital-teal.jpg");
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consoleas, 'Courier New',
    monospace;
}

.wrapper {
    width: 420px;
    background: transparent;
    backdrop-filter: blurr(30px);
    border: 2px solid #7e7b7b;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.wrapper .input-box {
    height: 50px;
    width: 100%;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 60px;
    font-size: 16px;
    background: transparent;
    color: black;
    border:  2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
}
.input-box input::placeholder {
    color: #ffffff;
}
.wrapper .remember_forgotpw {
    display: flex;
    margin: -15px 0 15px;
    justify-content: space-between;
    font-size: 14.5px;
}
.remember_forgotpw label input {
    margin-right: 5px;
    accent-color: #fff;
    color: #fff;
}
.remember_forgotpw a {
    color: white;
    text-decoration: none;
}
.remember_forgotpw a:hover {
    color: white;
    text-decoration: underline;
}
.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin : 20px 0 15px;
}
.register-link p{
    color: white;
    text-decoration: none;
}
.register-link a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    
}
.register-link a:hover {
    text-decoration: underline;
    font-weight: 600;
}