.logout-button {
    background-color: transparent; /* No background color */
    color: white; /* Text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1em; /* Font size */
  }
  
  .logout-button:hover {
    text-decoration: underline; /* Underline on hover */
  }